<form action="#" class="task-form" method="post">
    <input required minlength="5" name="text" type="text" class="task-form__text" placeholder="Write a todo">
    <button type="submit" class="task-form__button button button--primary">Submit</button>
</form>