<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Taskdo</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
</head>

    <body>

        <main class="app">
            <%=yield%>
        </main>
    </body>
</html>